//----------------------------------------------------//
// LAYOUT                                             //
//----------------------------------------------------//
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

//sticky footer
.fixcontent{
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
}

//----------------------------------------------------//
// HEADER                                             //
//----------------------------------------------------//

.header{

  &__top
  {
    display:flex;
    align-items:center;
    justify-content:flex-end;
    height:35px;
    &-wrapper
    {
      height:35px;
      background-color:$light-grey;
    }

    .header__search
    {
      height:17px;
      width:220px;
      background-color: transparent;
      padding:0;
      color:$grey-font;
      @include font-size(12px);
      @include placeholderColor($grey-font);
      border:none;
      border-bottom: 1px solid $input-grey;
      &-wrapper
      {
        display:flex;
        align-items:center;
        padding-right:20px;              
      }

      &:focus,&:visited,&:active
      {
        outline:none;
        background-color: transparent;
        border:none;
        border-bottom: 1px solid $input-grey;
        box-shadow: none;
      }


      &-label
      {
        margin-bottom:8px;
        margin-left: -14px;
        height:14px;
        width:14px;
      }

      &-icon
      {
        width:100%;
        height:100%;
      }

    }

  }
  &__lang
  {
    &-wrapper
    {      
      background:url(../img/sprite.png);
      background-position:-18px -74px;     
      margin-left:20px;   
      position:relative;
      @include font-size(12px);
      font-weight:400;
      color:$grey-font;   
    }
    &-select
    {      
      display:flex;      
      cursor:pointer;
      align-items:center;
      margin-left:30px;
      &:after
      {
        content:'';
        display:block;        
        width:6px;
        height:4px;
        margin-left:7px;
        background:url(../img/sprite.png);
        background-position:-66px -60px;
      }
    }
    &-list
    {      
      display:none;
      cursor:pointer;
      position: absolute;
      text-align:right;
      z-index:200;
      right:0;
      top:25px;
      background-color: #ebebeb;
    }
    &-item
    {
      padding:5px 13px;
      border-bottom:1px solid darken(#ebebeb,20%);
    }
  }

  &__main{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height:70px;
    background-color:$white;
    box-shadow: 0 0 16px 0 rgba(3,3,3,0.06);
    transition: $main_animation;

    .header__navbar
    {
      display:flex;
      justify-content:space-between;
      align-items:center;
      &-menu
      {
        display:flex;

        .header__menu-item
        {
          @include font-size(15px);
          font-weight:400;
          position:relative;
          line-height:70px;
          padding-bottom:0;

          &:before
          {
            content:'';
            display:block;
            position:absolute;
            bottom:0;
            width:0px;
            height:2px;
            background-color:$blue;
            transition:$main_animation;            
          }
          &:hover:before
            {
              width:100%;
            }

          &:not(:first-child)
          {
            margin-left:30px;
          }
        }
      }
    }
    .header__currency
    {
      display:flex;
      flex-direction:column;
      align-items:flex-end;
      color:$grey-font;
      line-height:15px;

      &-line
      {
        display: flex;
        align-items: center;
      }

      &-title
      {
        @include font-size(12px);
        font-weight:400;
        color:$grey-font;
      }
      &-value
      {
        @include font-size(16px);
        font-weight:500;
        color:$black;
      }
      .currency-icon
      {
        height:16px;
        width:16px;
        margin-right:5px;
      }
    }


    
    
  }
  &__logo{
    &-wrapper{

    }
    &-link{

    }
  }
  &__nav{

  }
  &__additional{

  }
  &__social{

  }
}

//----------------------------------------------------//
// SIDEBAR                                            //
//----------------------------------------------------//



//----------------------------------------------------//
// FOOTER                                             //
//----------------------------------------------------//

.footer {

  color:$white;
  @include font-size(13px);
  font-weight:400;  

  &__top
  {
    height: 269px;
    background-color: $blue;
    padding:40px 0;

    &-wrapper
    {
      display:flex;
      justify-content:space-between;
      margin:0 15px;
    }  
  }

  &__link
  {
    color:$white;    
    position:relative;
    @include font-size(13px);
    font-weight:400;
    &:hover:before
    {
      content: '';
      position: absolute;        
      left: 0;
      bottom: 0;
      display: inline-block;
      height: 1px;
      width: 100%;
      border-bottom: 1px solid $white;
    }    
  }

  &__title
  {
      display:inline-block;
      @include font-size(14px);
      font-weight: 700;
      margin-bottom:26px;      
      padding:0 0 4px 0;
      border-bottom:1px solid $white;
      &:last-of-type
      {
        margin-bottom:22px;
      }
  } 

  &__item
  {
    display:flex;
    flex-direction:column;
    width:170px;

    .footer__list
    {
      white-space:nowrap;
    }

    .footer__mail-input
    {
      height:36px;
      background-color: transparent!important;
      border:1px solid $white;
      &::-webkit-input-placeholder 
      {
        text-align:center;
      }
      &:-moz-placeholder 
      {
        text-align:center;
      }
      &::-moz-placeholder 
      {
        text-align:center;
      }
      &:-ms-input-placeholder 
      {
        text-align:center;
      }
      &:focus,&:active,&:visited
      {
        box-shadow:none;
        border-color:$white;
      }
    }
    .footer__mail-submit
    {
      height:36px;
      background-color:$light-blue;  
      padding:0;  
      text-transform:uppercase;
      border:2px solid transparent;
      color:$white;
      border: none;
      margin-top:11px;
      transition: $main_animation;
      &:hover
      {
        border:2px solid $light-blue;
        color:$light-blue;
        background-color: transparent;
      }
    }
  }

  &__bottom
  {
    
    background-color: $dark-blue;

    &-wrapper
    {
      display:flex;
      height: 54px;
      justify-content:space-between;
      align-items:center;
      padding:0 15px;  
      @include font-size(13px); 
    }
  }

}
