@media only screen and (max-width: 768px)
{

  .footer
  {

    &__title
    {
      font-size:18px!important;
      width:210px!important;
    }
    &__item--input
    {
      width:100%!important;
      margin-top:65px!important;
    }

    &__mail-input,&__mail-submit
    {
      height:46px!important;
      margin-top:0!important;

      &::-webkit-input-placeholder
      {
        text-align:left!important;
      }
      &:-moz-placeholder
      {
        text-align:left!important;
      }
      &::-moz-placeholder
      {
        text-align:left!important;
      }
      &:-ms-input-placeholder
      {
        text-align:left!important;
      }
    }
    &__mail-submit
    {
      margin-left:30px!important;
      font-size:15px!important;
    }
  }
  .button
  {
    &--all
    {
      width:214px!important;
      height:50px!important;
      line-height:48px!important;
    }
    &--arrow
    {
      width:42px!important;
      height:40px!important;
      .icon--left,.icon--right
      {
        width:9px!important;
        height:16px!important;
      }
    }
  }
  .section
  {
    &__title
    {
      font-size:30px;
    }
  }
  .advantages
  {
    &__item
    {
      text-align:left!important;
    }
    &__title
    {
      margin-top:0!important;
    }
    &__icon
    {
      height:70px!important;
      width:70px!important;
      margin-right:35px;
    }
  }
  .products
  {
    &__tabs
    {
      &-wrapper
      {
        background-color: $white!important;
      }
    }
  }
}