/*Fonts*/

$main_font: "HelveticaNeue";
$fix_font: HelveticaNeue, sans-serif;
$main_font_size: 15px;
$main_line_height: 1.5;

/*Animations*/

$main_animation: all .3s ease-in-out;

/*Colors*/

$black: #231f20;
$red: #ed1c24;
$blue: #005daa;
$dark-blue: #025192;
$white:#fefefe;
$light-blue:#6fa3d4;
$light-grey: rgba(235,235,235,0.3);
$grey-font:#868585;
$dark-grey:#32454f;
$white-shade:#f4f9fc;
$input-grey:#acacac;
$news-hover_shadow: rgba(86, 85, 85,0.15);
$news-shadow: rgba(69, 68, 68,0.09);
$news-content:#f9f9f9;
$date-color:#676768;
$breadcrumbs-primary:#b1b0b0;
$breadcrumbs-active:#868585;
$production-line:#e1e1e1;
$map-popup-shadow:rgba(22,23,23,0.26);
$dropdown-shadow:rgba(154,154,154,0.22);
$goods-shadow:rgba(86, 85, 85,0.06);
$goods-shadow-hover:rgba(86, 85, 85,0.15);
$goods-grey:#726f6f;
$goods-border:#ebebeb;
$facebook-back:#4468b0;
$table-border:#eeeeee;
$rate-primary:#e8e8e8;
$rate-active:#ffab00;

//hamburger customisation
$hamburger-padding-x                       : 0 !default;
$hamburger-padding-y                       : 0 !default;
$hamburger-layer-width                     : 30px !default;
$hamburger-layer-height                    : 3px !default;
$hamburger-layer-spacing                   : 5px !default;
$hamburger-layer-color                     : #000 !default;
$hamburger-layer-border-radius             : 3px !default;