/*Fonts*/

$main_font: "HelveticaNeue";
$fix_font: HelveticaNeue, sans-serif;
$main_font_size: 15px;
$main_line_height: 1.5;

/*Animations*/

$main_animation: all .3s ease-in-out;

/*Colors*/

$black: #231f20;
$red: #ed1c24;
$blue: #005daa;
$dark-blue: #025192;
$white:#fefefe;
$light-blue:#6fa3d4;
$light-grey: rgba(235,235,235,0.3);
$grey-font:#868585;
$dark-grey:#32454f;
$white-shade:#f4f9fc;
$input-grey:#acacac;
$news-hover_shadow: rgba(86, 85, 85,0.15);
$news-shadow: rgba(69, 68, 68,0.09);
$news-content:#f9f9f9;
$date-color:#676768;
$breadcrumbs-primary:#b1b0b0;
$breadcrumbs-active:#868585;
$production-line:#e1e1e1;