@import 'sprite',
'media',
'normalize&reset',
'bootstrap/bootstrap-grid',
'variables',
'fonts',
'mixins&includes',
'typography',
'forms',
'../lib/css-hamburgers/_sass/hamburgers/hamburgers',
'layout';

//----------------------------------------------------//
// MAIN 						 				      //
//----------------------------------------------------//

/*SVG*/



/*end SVG*/

/*LISTS and TYPICAL ELEMENTS*/

.logo
{
  display:block;
  max-width:100%;
  height:auto;
}
.text--uppercase
{
  text-transform:uppercase;
}
.text--developer
{
  @include font-size(12px);
}



.section
{  
  padding-top:53px;
  padding-bottom: 70px;
  .slick-slide 
  {
    margin-left:15px;
    margin-right:15px;
  }
  .slick-list 
  {
    margin-left:-15px;
    margin-right:-15px;
  }

  &__item
  {

    box-shadow: 0 0 9px 0 $news-shadow;
    margin:50px 15px;    
    position:relative;
    transition: $main_animation;
    
    &:hover
    {      
      box-shadow: 0 0 32px 0 $news-hover_shadow;
      .arrow__hover
      {
        opacity:1;
        right:0;
      }
      .responsive-image
      {
        transform:scale(1.2);
      }
    }

    &-wrapper
    {
      display: flex;
      justify-content: space-between;
      padding-left:15px;
      padding-right:15px;
    }
    &-scale
    {
      overflow:hidden;
      background-color:$news-content;
    }
    &-title
    {
      @include font-size(14px);
      color:$blue;
      line-height:21px;
    }
    &-content
    {
      background-color:$news-content;
      padding:20px 20px 30px;
    }
    &-date
    {
      display:flex;
      align-items:center;
      @include font-size(13px);
      color:$date-color;
    }
    &-description
    {
      @include font-size(14px);
      line-height:21px;
      margin-top:35px;
    }
  }
  &__title
  {
    color:$black;
    font-weight:700;
    &--center
    {
      @extend .section__title;
      text-align: center;
    }
  }
  &__thumbnail
  {
    overflow:hidden;
    margin-top:50px;
  }
  &__description
  {
    @include font-size(14px);
    font-weight:400;
    color:$black;
    line-height:23px;
    &:not(:first-child)
    {
      margin-top:22px;
    }
  }
  &--production,&--news,&--partners
  {
    background-color:$white-shade;
  }
  &--projects
  {
    background-color:$dark-grey;
  }
  &--decision
  {
    padding-top:58px;
    padding-bottom:60px;
    background: url('../images/decision-bg.jpg') center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  &--description
  {
    padding-top:51px;
    padding-bottom:64px;
  }
  
}

.separator
{
  width:1px;
  height:21px;
  background: -moz-linear-gradient(top, rgba(172,172,172,0) 0%, rgba(172,172,172,0.02) 1%, rgba(172,172,172,0.8) 33%, rgba(172,172,172,0.8) 73%, rgba(172,172,172,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(172,172,172,0) 0%,rgba(172,172,172,0.02) 1%,rgba(172,172,172,0.8) 33%,rgba(172,172,172,0.8) 73%,rgba(172,172,172,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(172,172,172,0) 0%,rgba(172,172,172,0.02) 1%,rgba(172,172,172,0.8) 33%,rgba(172,172,172,0.8) 73%,rgba(172,172,172,0) 100%); 
}
.title--white
{
  color:$white;
}

.responsive-image
{
  max-width: 100%;
  display:block;
  height: auto;
  transition: $main_animation;
}
.fixed-header
{
  position:fixed;
  z-index: 100;
  top:0px;
}
.d-block
{
  display:block;
}
.icon-date
{
  display:block;
  width:18px;
  height:18px;
  margin-right:12px;
  background:url(../img/sprite.png);
  background-position:0 -74px;
}
.icon-lang
{
  display:inline-block;
  width:16px;
  height:16px;
  margin-right:12px;
  background:url(../img/sprite.png);
  background-position:-18px -74px;
}
.icon-dropdown
{
  display:block;
  width:6px;
  height:4px;
  margin-left:7px;
  background:url(../img/sprite.png);
  background-position:-60px -60px;
}

.slider
{


  &__item
  {
    position:relative;
    display:flex;
    justify-content:center;

    &-wrapper
    {
      position: absolute;
      top:50%;
      transform:translateY(-50%);
      margin-top:8px;
    }

    &-inner
    {
      display:flex;
      flex-direction:column;

    }
    &-background
    {

    }
    &-title
    {
      width:40%;
      @include font-size(48px);
      font-weight:700;
      text-transform:uppercase;
      color:$blue;
      line-height:58px;
      margin-bottom:10px;
    }
    &-description
    {
      width:29%;
      line-height:22px;
      margin-bottom:63px;
    }

  }

  &__indicators
  {
    display:flex;
    justify-content:center;
    align-items: center;
    position:absolute;
    bottom:25px;
    left:50%;
    transform:translateX(-50%);

    [role="presentation"]
    {
      &:not(:first-child)
      {
        margin-left:24px;
      }
    }

    [type="button"]
    {
      height:6px;
      width:6px;
      border-radius: 50%;
      border:none;
      background-color:$white;
      font-size:0;
      padding:0;
    }
    .slick-active [type="button"]
    {
      width:16px;
      height:16px;
      border:2px solid $light-blue;
      border-radius:50%;
      background-color:transparent;
    }
  }
}

.arrow__hover
{
  position:absolute;
  z-index:-1;
  bottom: -30px;
  right:30px;
  opacity:0;
  width:30px;
  height:14px;
  transition: $main_animation;
  &--blue
  {
    background:url("../img/icons/projects-arrow.png") no-repeat center center;
    background-size: contain;
  }
  &--grey
  {
    background:url("../img/icons/news-arrow.png") no-repeat center center;
    background-size: contain;
  }
}

.button
{
  width:26px;
  height:26px;
  border:1px solid $light-blue;
  background-color: transparent;
  cursor:pointer;

  &:not(:first-child)
  {
    margin-left:2px;
  }
  &--all
  {
    display: block;
    height:42px;
    width:180px;
    text-align:center;
    line-height:38px;
    @include font-size(12px);
    text-transform: uppercase;
    border:2px solid transparent;
    font-weight:500;
    letter-spacing: 0.71px;
    color:$white;
    background-color: $light-blue;
    transition: $main-animation;
    &:hover
    {
      border-color:$light-blue;
      background-color:transparent;
      color:$light-blue;
    }
  }
  &--arrow
  {    
    width:26px;
    height:26px;
    border:1px solid $light-blue;
    padding-bottom:0;
    position:relative;
    transition:$main_animation;
    
    &-pagination
    {
      &:first-child
      {
        margin-right:26px;
      }
      &:last-child
      {
        margin-left:26px;
      }
    }
    &:hover
    {
      background-color:$light-blue;
      .icon--left,.icon--right
      {
        stroke:$white;
      }
    }
    .button__link
    {
      display:block;
      width:100%;
      height:100%;
    } 

    .icon--left,.icon--right
    {    
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      width:5px;
      height:9px;
    }
    .icon--right
    {   
      transform:translate(-50%,-50%) scaleX(-1);
    }
  }
}
.pagination
{
  display: flex;

  &-wrapper
  {
    display:flex;
    align-items:center;
    justify-content:center;
  }
  &__item
  {    
    padding-bottom:0;
    margin:0 4px;
  }
  
  &__link
  {    
    @include font-size(16px);
    font-weight:400;  
    color:$grey-font;
    &--active
    {
      color:$light-blue;
    }
    &--white
    {
      color:$white;
    }
  }  
}

.callback
{
  position: fixed;
  right:50px;
  bottom:50px;
  &__main
  {
    position:relative;
    height:70px;
    width:70px;
    border-radius: 50%;
    background-color:$light-blue;
    animation: pulse infinite 1s ease-in-out;

    &:hover
    {
      animation:none;
    }
    .callback__icon
    {
      position:absolute;
      top:50%;
      left:50%;
      color:$white;
      width:30px;
      height:30px;
      transform:translate(-50%,-50%) scaleX(-1);      
    }    
  }

}

//pulse animation

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(111, 163, 212, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(111, 163, 212, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(111, 163, 212, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(111, 163, 212, 0.4);
    box-shadow: 0 0 0 0 rgba(111, 163, 212, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(111, 163, 212, 0);
      box-shadow: 0 0 0 10px rgba(111, 163, 212, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(111, 163, 212, 0);
      box-shadow: 0 0 0 0 rgba(111, 163, 212, 0);
  }
}



/*end LISTS and TYPICAL ELEMENTS*/

/*main styles*/


.products
{

  .block-active
  {
    display:block;
  }
  &__tabs
  {
    height:60px;
    cursor:pointer;
    &-wrapper
    {
      background-color:$light-blue;
    }
    &-item
    {
      display: flex;
      align-items: center;
      height:inherit;
      @include font-size(14px);
      font-weight: bold;
      color:$white;
      padding:0 0 0 18px;
      border-left:1px solid $white;
    }

    .tab-active
    {
      background-color: $white;
      color:$black;
    }
  }

  &__block
  {
    padding-top:70px;
    padding-bottom:50px;
    display:none;

    &-item
    {
      display:flex;
      align-items: center;
      margin-bottom: 20px;
    }
    &-link
    {
      position:relative;
      @include font-size(13px);
      font-weight:400;
      &:hover:before
      {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        height: 1px;
        width: 100%;
        border-bottom: 1px solid $black;
      }
    }
  }
  &__icon
  {
    position: absolute;
    height:30px;
    width:100%;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    fill:$light-blue;

    &-wrapper
    {
      position: relative;
      min-width:46px;
      height:46px;
      border:2px solid $light-blue;
      border-radius: 10px;
      &:not(:last-child)
      {
        margin-right:21px;
      }
    }
    &-link
    {
      display: block;
      width:100%;
      height:100%;
    }
  }
}


.advantages
{
  padding:57px 0 10px;

  &__wrapper
  {
    margin-top:57px;
  }

  &__item
  {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom:60px;


    .advantages__title
    {
      @include font-size(14px);
      font-weight:400;
      text-transform: uppercase;
      margin:30px 0 13px;
    }

    .advantages__line
    {
      width:41px;
      height:1px;
      background-color:$black;
    }
    .advantages__description
    {
      @include font-size(13px);
      line-height:21px;
      margin-top:15px;
      max-width: 275px;
    }

    .advantages__icon
    {
      height:65px;
      width:100%;
    }
  }

}

.social
{
    display:flex;
    margin-top:25px;

    &__wrapper
    {
      display:flex;
      position: relative;
      justify-content: center;
      align-items: center;
      height:36px;
      width:36px;
      background-color:$white;
        &:not(:first-child)
        {
            margin-left:10px;
        }
    }

    &__link
    {
      display:block;
      height:100%;
      width:100%;
    }

    &__item
    {
      position: absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      height:17px;
      width:17px;
    }
}

.breadcrumbs
{
  height:34px;
  display:flex;
  align-items:center;
  
  &-wrapper
  {
    background-color: $light-grey;
  }
  &__item
  {
    padding-bottom:0;
    &:not(:first-child)
    {
      margin-left:7px;
    }
    

    &:not(:last-child)
    {
      &:after
      {
        content:'>';
        padding-left:7px;
        color:$breadcrumbs-primary;
      }      
    }
  }
  &__link
  {
    color:$breadcrumbs-primary;
    @include font-size(13px);
    font-weight:400;
    font-style:italic;
    &:hover
    {
      color:$breadcrumbs-active;
    }
    &.breadcrumbs-active
    {
      color:$breadcrumbs-active;
    }
  }
}

.production
{
  &-wrapper
  {
    margin:53px 0 43px;
  }
  
  &__block
  {
    &:not(:first-child)
    {
      margin-top:50px;
    }
    &-image
    {
      padding-left:0;
    } 
    .description
    {
      display:flex;
      flex-direction:column;
      justify-content:space-around;
      border-bottom:1px solid $production-line;
      @include font-size(13px);
      line-height:21px;
      padding-left:0;
      &-line
      {
        font-weight:700;

      }
      &-text
      {
        font-weight:400;
      }
    }
  }
}

.decision
{

  &-wrapper
  {    
    margin-top:60px;
    margin-bottom:50px;
  }

  &__item
  {
    height:210px;
    display:flex;
    justify-content:flex-end;
    position: relative;   
    margin-bottom:50px; 
    transition:$main_animation;
    &:hover
    {
      .arrow__hover
      {
        opacity:1;
        right:0;
        z-index:10;
      }
    }

    &-content
    {
      position:absolute;
      left:45px;
      bottom:35px;
      z-index:50;
      color:$white;
    }

    &-title
    {
      display:block;
      @include font-size(18px);
      font-weight:700;
    }
    &-location
    {
      display:block;
      @include font-size(16px);
      font-weight:400;
    }
    &-inner
    {
      position: absolute;
      right:0;
      height:210px;
      width:430px;
      overflow:hidden;
      transition:$main_animation;
      .decision__item:hover &
      {
        width:100%;
      }
    }
    &-overlay
    {
      position:relative;
      height:100%;
      
      &:before
      {
        content:'';
        position:absolute;
        display:block;
        width:100%;
        height: 100%;        
        background: -moz-linear-gradient(top, rgba(0,93,170,0.66) 0%, rgba(111,163,212,0.66) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,93,170,0.66) 0%,rgba(111,163,212,0.66) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,93,170,0.66) 0%,rgba(111,163,212,0.66) 100%);
        opacity:0.66;
      }
    }
  }
}
.map
{
  position:relative;
  &__background
  {
    height:650px;
  }
  &__image
  {
    width:100%;
    height:100%;
  }
  &__description
  {
    position:relative;
    background-color:$white;
    z-index:10;
    top:0;
    left:0;
    box-shadow:0 -13px 49px 0 $map-popup-shadow;
    &:after
    {
      content:'';
      display:block;
      position:absolute;
      top:100%;
      left:50%;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-top: 15px solid $white;
      border-right: 7px solid transparent;
    }
    &-wrapper
    {
      position:absolute;
      //display:none;
      transition: $main_animation;
    }
  }
  &__thumbnail
  {
    width:122px;
  }
  &__content
  {
    padding:23px 16px;
  }
  &__title
  {
    @include font-size(14px);
    font-weight:700;
  }
  &__address
  {
    @include font-size(13px);
    line-height:24px;
  }
  &__phone
  {
    @include font-size(13px);
    line-height:24px;
  }
  .gst0
  {
    &:hover
    {

    }
  }
}